body {
      font-family: 'Inter', sans-serif;
      background: #f5f7fa;
      padding: 30px;
      color: #333;
    }
    h1 {
      text-align: center;
      font-weight: 600;
      margin-bottom: 30px;
      color: #a48f8f;
    }
    .box {
      background: white;
      padding: 25px;
      border-radius: 14px;
      margin-bottom: 25px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.06);
    }
    h3 {
      margin-top: 0;
      font-weight: 500;
      color: #444;
    }
    .custom-select {
  width: 100%;
  position: relative;
  font-family: sans-serif;
}

.select-box {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  background: white;
}

.select-dropdown {
  display: none;
  position: absolute;
  width: 100%;
  top: 105%;
  left: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-height: 240px;
  overflow-y: auto;
  z-index: 20;
}

.dropdown-search {
  width: 92%;
  margin: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.option-item {
  padding: 10px;
  cursor: pointer;
}

.option-item:hover {
  background: #efefef;
}
    table {
      width: 100%;
      border-collapse: collapse;
      border-radius: 12px;
      overflow: hidden;
      background: white;
    }
    th, td {
      padding: 12px 10px;
      border-bottom: 1px solid #e5e5e5;
    }
    th {
      background: #f0f2f5;
      text-align: left;
      font-weight: 600;
      color: #555;
    }
    tr:hover td {
      background: #f9fafc;
    }
    select, input {
      padding: 10px 14px;
      border-radius: 8px;
      border: 1px solid #ccc;
      width: 100%;
      margin-top: 10px;
      background: #fafafa;
    }
    button {
      padding: 12px 22px;
      background:#2d6cdf;
      color:white;
      border:none;
      border-radius:8px;
      cursor:pointer;
      font-size: 15px;
      margin-top: 10px;
      transition: 0.2s ease;
    }
    button:hover {
      background:#1d4fc9;
    }
    .btn-green {
      background: #28a745;
    }
    .btn-green:hover {
      background: #1e7e34;
    }
    .file-drop {
  border: 2px dashed #6c8df5;
  background: #f8faff;
  padding: 35px;
  border-radius: 14px;
  text-align: center;
  cursor: pointer;
  transition: 0.25s ease;
  color: #3a4a6f;
  font-size: 16px;
  font-weight: 500;
}

.file-drop:hover {
  background: #eef3ff;
  border-color: #3d6bfa;
}

.file-drop input {
  display: none;
}